:root {
  --primary: rgb(35, 244, 139);
  --background: rgb(0, 0, 0);
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: sans-serif;
}

h1 {
  padding: 1rem;
  border: 2px dotted var(--primary);
  text-align: center;
  animation: glow 5s infinite;
}

button {
  width: 10rem;
  float: right;
  margin-top: 0.55rem;
  padding: 0.25rem;
  color: var(--primary);
  font-size: 1.25rem;
  background: transparent;
  border: 2px solid var(--primary);
  transform: translateY(-50%);
  filter: blur(1px);
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔥</text></svg>") 16 0,auto;
}

button:hover {
  filter: blur(0);
}

ul {
  list-style-type: "\2714";
}

li {
  padding: 1rem;
  border-bottom: 1px solid var(--primary);
}

p {
  padding: 2rem;
  line-height: 1.5;
  word-break: break-all;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  1000% {
    filter: hue-rotate(0);
  }
}
